{% extends 'index.html' %}

{% block body %} 

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message.decode('utf-8') }}</p>
        {% endfor %}   
    {% endif %}
{% endwith %}

<form action="/add" method="post">
    <fieldset>
        <legend> Anadir un nuevo contacto </legend>

        <label for="name">Nombre</label>
        <input id="name" name="name" type="text">

        <label for="phono">Telefono</label>
        <input id="phono" name="phono" type="text">

        <label for="email">Email</label>
        <input id="email" name="email" type="email">

        <button type="submit" name="button">Añadir</button>
    </fieldset>
</form>

<p>
    <a href="/">Regresar</a>
</p>
{% endblock %}