{% extends 'index.html' %}

{% block body %} 

    <ul>
        {% for contactin contacts %}
            <li>
                {{ constac.name }} <a href="/contacts/{{ contact.key.id() }}">Ver mas</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}